In [2]:
from google.colab import files
uploaded = files.upload()

Saving USvideos.csv to USvideos.csv

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the USvideos.csv
import pandas as pd 
yt_df = pd.read_csv("USvideos.csv")
yt_df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [7]:
# Drop the non-beneficial ID columns
yt_df = yt_df.drop(columns=[ "video_id", "thumbnail_link", "video_error_or_removed", "comment_count", "likes", "dislikes" ], axis=0)
yt_df.head()

,trending_date,title,channel_title,category_id,publish_time,tags,views,comments_disabled,ratings_disabled,description
0,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,False,False,"One year after the presidential election, John..."
2,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,False,False,Today we find out if Link is a Nickelback amat...
4,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,False,False,I know it's been a while since we did this sho...

In [8]:
#drop description missing rows
yt_df['description'].replace('', np.nan, inplace=True)
yt_df.dropna(subset=['description'], inplace=True)
print(yt_df.shape)

#concatanate text columns
yt_df['channel_text'] = yt_df.title + ' ' + yt_df.channel_title + ' ' +yt_df.description +'  '+ yt_df.tags
yt_df = yt_df.drop(columns = ['title', 'channel_title', 'description','tags'])
yt_df

(40379, 10)

,trending_date,category_id,publish_time,views,comments_disabled,ratings_disabled,channel_text
0,17.14.11,22,2017-11-13T17:13:01.000Z,748374,False,False,WE WANT TO TALK ABOUT OUR MARRIAGE CaseyNeista...
1,17.14.11,24,2017-11-13T07:30:00.000Z,2418783,False,False,The Trump Presidency: Last Week Tonight with J...
2,17.14.11,23,2017-11-12T19:05:24.000Z,3191434,False,False,"Racist Superman | Rudy Mancuso, King Bach & Le..."
3,17.14.11,24,2017-11-13T11:00:04.000Z,343168,False,False,Nickelback Lyrics: Real or Fake? Good Mythical...
4,17.14.11,24,2017-11-12T18:01:41.000Z,2095731,False,False,I Dare You: GOING BALD!? nigahiga I know it's ...
...,...,...,...,...,...,...,...
40943,18.14.06,22,2018-05-18T16:39:29.000Z,8259128,False,False,BTS Plays With Puppies While Answering Fan Que...
40944,18.14.06,15,2018-05-18T13:00:04.000Z,1685609,False,False,The Cat Who Caught the Laser AaronsAnimals The...
40946,18.14.06,24,2018-05-18T17:34:22.000Z,1066451,False,False,I GAVE SAFIYA NYGAARD A PERFECT HAIR MAKEOVER ...
40947,18.14.06,1,2018-05-17T17:00:04.000Z,5660813,False,False,How Black Panther Should Have Ended How It Sho...
40948,18.14.06,20,2018-05-17T17:09:38.000Z,10306119,False,False,Official Call of Duty®: Black Ops 4 — Multipla...

In [9]:
#convert times to timestamps
#change the trending_date format to yyyy-mm-dd from yy.dd.mm
yt_df['formatted_trending_date'] = pd.to_datetime(yt_df['trending_date'],format="%y.%d.%m")
yt_df['formatted_publish_time'] = pd.to_datetime(yt_df['publish_time'],format="%Y-%m-%dT%H:%M:%S.%fZ")
yt_df ['difference_d'] = (yt_df['formatted_trending_date'] - yt_df['formatted_publish_time']).astype('timedelta64[D]')
yt_df ['difference_h'] = (yt_df['formatted_trending_date'] - yt_df['formatted_publish_time']).astype('timedelta64[h]')

#US_video=US_video.assign(publish_day=US_video.publish_time.dt.day,publish_month=US_video.publish_time.dt.month,publish_year=US_video.publish_time.dt.year)

yt_df ['published_year'] = yt_df['formatted_publish_time'].dt.year
yt_df ['published_month'] = yt_df['formatted_publish_time'].dt.month
yt_df ['trending_year'] = yt_df['formatted_trending_date'].dt.year
yt_df ['trending_month'] = yt_df['formatted_trending_date'].dt.month

#yt_df ['published_year_month'] = yt_df ['published_year'].astype(str)[2:] + ' ' + yt_df ['published_month'].astype(str) 
#yt_df ['trending_year_month'] = yt_df ['trending_year'].astype(str)[2:4] + ' ' + yt_df ['trending_month'].astype(str)

#drop outliers - past published videos
yt_df = yt_df[yt_df.published_year.isin([2016,2017,2018])]
print(yt_df.shape)

#get small range of view counts
yt_df = yt_df[(yt_df['views'] >= 10000) & (yt_df['views'] <= 50000000)]
print(yt_df.shape)

yt_df['comments_disabled'] = yt_df['comments_disabled'].apply(lambda x: "\"" + str(x) + "\"")
yt_df['ratings_disabled'] = yt_df['ratings_disabled'].apply(lambda x: "\"" + str(x) + "\"")

(40203, 15)
(39308, 15)

In [10]:
#drop un-wanted date columns
yt_df = yt_df.drop(columns = ['trending_date', 'publish_time', 'formatted_trending_date', 'formatted_publish_time'])
yt_df = yt_df.sample(1200)

In [14]:
yt_df['category_id']= yt_df['category_id'].replace([24, 10, 26, 23, 22, 25, 28, 1, 17, 27, 15, 20, 19, 2, 29, 43], ['Entertainment', 'Music', 'How to and Style', 'Comedy', 'People and Blogs', 'News and Politics', 'Science and Technology', 'Film and Animation', 'Sports', 'Education', 'Pets and Animals', 'Gaming', 'Travel and Events', 'Autos and Vehicles', 'Non-profits and Activism', 'Shows'])
yt_df

,category_id,views,comments_disabled,ratings_disabled,channel_text,difference_d,difference_h,published_year,published_month,trending_year,trending_month
39255,Entertainment,973398,"""False""","""False""",Are Jessica Chastain & Bryce Dallas Howard The...,11.0,272.0,2018,5,2018,6
25629,Entertainment,706352,"""False""","""False""",ASKING MY CRUSH TO FLY TO PARIS FOR DREAM DATE...,5.0,126.0,2018,3,2018,3
27029,Gaming,505198,"""False""","""False""",SURPRISING HER WITH A NEW PUPPY (8 WEEKS OLD) ...,5.0,125.0,2018,3,2018,3
24398,News and Politics,283745,"""False""","""False""",The guide book that helped black Americans tra...,2.0,59.0,2018,3,2018,3
292,Entertainment,272604,"""False""","""False""",SPAGHETTI BURRITO VS SPAGHETTI BURRITO Hellthy...,2.0,57.0,2017,11,2017,11
...,...,...,...,...,...,...,...,...,...,...,...
19183,Education,209979,"""False""","""False""",The European City Centre With No Street Names ...,0.0,7.0,2018,2,2018,2
12308,People and Blogs,422166,"""False""","""False""","No Country For Pregnant Women | January 10, 20...",4.0,113.0,2018,1,2018,1
11868,Entertainment,480251,"""False""","""False""",Chris Hemsworth Reveals Where He Keeps His Ham...,2.0,61.0,2018,1,2018,1
24267,Gaming,3253164,"""False""","""False""",Nintendo Direct 3.8.2018 Nintendo Nintendo Dir...,8.0,193.0,2018,3,2018,3
38888,Music,3368967,"""False""","""False""",Dan + Shay - Speechless (Wedding Video) Dan An...,16.0,403.0,2018,5,2018,6

In [15]:
from google.colab import files
yt_df.to_csv('US_youtube_sample.csv',index=False, encoding='utf-8')
files.download('US_youtube_sample.csv')

In [15]:
# #binning needed


# #replace in dataframe
# for comms in yt_df['comment_count']:
#   if comms <= 1000:
#     yt_df.comment_count = yt_df.comment_count.replace(comms,str('< 1,000'))
#   elif comms < 10000:
#     yt_df.comment_count = yt_df.comment_count.replace(comms,str('1,001-9,999'))
#   elif comms < 50000:
#     yt_df.comment_count = yt_df.comment_count.replace(comms,str('10,000-49,999'))
#   elif comms < 100000:
#     yt_df.comment_count = yt_df.comment_count.replace(comms, str('50,000-99,999'))
#   else:
#     yt_df.comment_count = yt_df.comment_count.replace(comms,str('100,000+'))

In [16]:
# #check the df
# yt_df.head()

   category_id        publish_time    views   likes  dislikes  comment_count
0           22 2017-11-13 17:13:01   748374   57527      2966  10,000-49,999
1           24 2017-11-13 07:30:00  2418783   97185      6146  10,000-49,999
2           23 2017-11-12 19:05:24  3191434  146033      5339    1,001-9,999
3           24 2017-11-13 11:00:04   343168   10172       666    1,001-9,999
4           24 2017-11-12 18:01:41  2095731  132235      1989  10,000-49,999

In [17]:
# yt_cat = ['category_id', 'likes', 'comment_count']
# yt_cat

['category_id', 'likes', 'comment_count']

In [ ]:
# # Create a OneHotEncoder instance
# enc = OneHotEncoder(sparse=False)

# # Fit and transform the OneHotEncoder using the categorical variable list
# encode_df = pd.DataFrame(enc.fit_transform(yt_df[yt_cat]))

# # Add the encoded variable names to the dataframe
# encode_df.columns = enc.get_feature_names(yt_cat)
# encode_df.head()